* {
    margin: 0;
}

body {
    background: rgb(26, 26, 26);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav, footer {
    flex-shrink: 0;
}

section {
    flex-grow: 1;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

a {
    color: rgb(153, 153, 153);
    padding: 15px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li {
    color: rgb(255, 255, 255);
    font-style: normal;
    padding: 10px;
    margin: 2px;
    list-style: none;
}

img {
    border-radius: 8px;
    padding: 15px;
    max-width: 400px;
    max-height: 100px;
}

#logo {
    display: flex;
    flex-direction: column;
}

button {
    padding: 5px;
    color: rgb(255, 255, 255);
    background: rgb(34, 34, 34);
    margin: 15px;
}

.layer {
    padding: 10px 5px;
    border-bottom: 2px solid rgb(3, 3, 3);
    background: rgb(0, 0, 0);
    width: 100vw;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(161, 161, 161);
}

.layer2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

input {
    background: rgb(26, 26, 26);
    border-color: rgb(138, 138, 138);
    width: 60vw;
    height: 3vw;
    margin: 10px;
}

.blank {
    height: 200px;
}